# Programming Language

Python


# Machine Learning Libraries

1. Scikit-Learn

2. PyTorch

3. Pandas

4. Numpy

# Visualization


1. Plotly

2. Seaborn

# Visualization Dashboard

Streamlit

# Dataset

DATASET.csv is the official dataset used.
