# Programming Language

Python


# Libraries

1. Scikit-Learn

2. Pandas

4. Numpy

5. Regular Expressions

# Visualization


1. Plotly

2. Matplotlib

# Visualization Dashboard

Streamlit

# Dataset

DATASET.csv is the official dataset used.
